# IDE Project Settings
.idea

# VuePress Default Suggestions
pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist

# Build Output
/public

# Local
readings/
